In [ ]:
import pandas as pd

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [ ]:
data = pd.read_csv('listings.csv')
print(len(data))

data.fillna(method ='ffill', inplace = True)
data.head()

24549

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,17878,"Very Nice 2Br in Copacabana w. balcony, fast WiFi",68997,Matthias,NaN,Copacabana,-22.96599,-43.17940,Entire home/apt,350,5,267,2021-12-03,1.92,1,257,10,NaN
1,24480,"Nice and cozy near Ipanema Beach, w/ home office",99249,Goya,NaN,Ipanema,-22.98405,-43.20189,Entire home/apt,296,3,85,2018-02-14,0.62,1,107,0,NaN
2,25026,Beautiful Modern Decorated Studio in Copa,102840,Viviane,NaN,Copacabana,-22.97735,-43.19105,Entire home/apt,387,3,238,2020-02-15,1.69,1,206,0,NaN
3,35636,Cosy flat close to Ipanema beach,153232,Patricia,NaN,Ipanema,-22.98839,-43.19232,Entire home/apt,172,2,181,2020-03-15,1.82,1,207,0,NaN
4,35764,COPACABANA SEA BREEZE - RIO - 20 X Superhost,153691,Patricia Miranda & Paulo,NaN,Copacabana,-22.98107,-43.19136,Entire home/apt,260,3,378,2021-12-05,2.76,1,58,32,NaN

In [ ]:
print(len(data['neighbourhood'].unique()))
print(len(data['host_name'].unique()))
print(len(data['room_type'].unique()))

154
4884
4

In [ ]:
features = ['room_type', 'minimum_nights', 'reviews_per_month', 'price']

In [ ]:
df = data[features]
df

             room_type  minimum_nights  reviews_per_month  price
0      Entire home/apt               5               1.92    350
1      Entire home/apt               3               0.62    296
2      Entire home/apt               3               1.69    387
3      Entire home/apt               2               1.82    172
4      Entire home/apt               3               2.76    260
...                ...             ...                ...    ...
24544  Entire home/apt               4               1.00   1786
24545  Entire home/apt               2               1.00    460
24546  Entire home/apt               2               1.00    891
24547  Entire home/apt               4               1.00    177
24548  Entire home/apt               1               1.00    818

[24549 rows x 4 columns]

In [ ]:
LE_room = LabelEncoder()
df['room_type'] = LE_room.fit_transform(df['room_type'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
df

       room_type  minimum_nights  reviews_per_month  price
0              0               5               1.92    350
1              0               3               0.62    296
2              0               3               1.69    387
3              0               2               1.82    172
4              0               3               2.76    260
...          ...             ...                ...    ...
24544          0               4               1.00   1786
24545          0               2               1.00    460
24546          0               2               1.00    891
24547          0               4               1.00    177
24548          0               1               1.00    818

[24549 rows x 4 columns]

In [ ]:
X = df.iloc[:, :-1]
y = df.iloc[:, -1]

In [ ]:
# Dropping any rows with Nan values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25)
  
# Splitting the data into training and testing data
regr = LinearRegression()
  
regr.fit(X_train, y_train)
print(regr.score(X_test, y_test))

0.00785058999954169